/** {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: white;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #3cf;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #3cf;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #3cf;
}
*/
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.rating {
  background: #fff;
}

input[type="radio"] {
  position: fixed;
  top: 0;
  right: 100%;
}

label {
  font-size: 1.5em;
  padding: 0.2em;
  margin: 0;
  float: left;
  cursor: pointer;
}

input[type="radio"]:checked ~ input + label {
  background: none;
  color: #aaa;
}

input + label {
  color: #3cf;
  margin: 0 0 1em 0;
}

hr {
  clear: both;
  border: 0;
  border-top: 2px solid #999;
  margin: 2em 0;
}
