.checked {
  color: #099;
}

.m-text-inline {
  display: inline;
}

.search-rating {
  float: right !important;
  color: #3cf;
}

.search-place-form {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
}

.search-place-btn {
  width: 20%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0;
}

.show-more-btn {
  font-size: 10pt;
  float: right;
  margin-top: -10px;
  color: #3cf;
}

#toShow {
  margin-top: -15px;
}
/*----------------------
loader and spiner
-----------------------*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
